body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    /*line-height: 1.42857143 !important;*/
    color: #333 !important;
    background-color: #fff !important;
    margin:0 !important;
}
img{
    padding: 0px !important;
    margin: 0px !important;
    outline: 0px solid #0782C1 !important;
}
.head-img{
    height: 50px;
}
.navbar-brand {
	line-height: 50px;
}
/* validity */
input:invalid+span.validity:after {
    position: absolute; 
    content: '✖';
    padding-left: 5px;
    color: #a94442;

    font-size: 20px;
    top: 7px;
    right: 0;
    line-height: 20px;
    margin-right: 20px;
}

input:valid+span.validity:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #1180df;

    font-size: 20px;
    top: 7px;
    right: 0;
    line-height: 20px;
    margin-right: 20px;
}
/* validity */